@{
  ViewData["Title"] = "Planets";
}

<h1>All About @Model.Name</h1>
<p>Fun Facts: @Model.FunFact</p>
<p>Climate: @Model.Climate</p>
<p>Life form details: @Model.LifeFormDetails</p>
<p>Population: @Model.Population</p>

<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.PlanetId })</p>
<p>@Html.ActionLink("Delete planet", "Delete", new { id = @Model.PlanetId })</p>
<p>@Html.ActionLink("Return to all planets", "Index")</p>